{% load i18n horizon %}
{% load i18n %}
{% load i18n breadcrumb_nav %}
{% load i18n sizeformat %}
{% load quota %}

{% block main %}
  {% spaceless %}
    <div class="quota-dynamic limit-summary">
      {% for section in charts_weekly %}
        {% if section.title %}
          <h2> {% trans "Weekly" %} </h2>
        {% endif %}

	<div class="row">
        {% for chart in section.charts_weekly %}
          <div class="d3_quota_bar col-lg-2 col-md-4 col-sm-4 col-xs-6">
            <div class="pie-chart-usage" data-used="{% quotapercenti chart.used chart.quota %}"></div>
            <div class="quota_title" title="{{ chart.name }}" data-toggle="tooltip">{{ chart.name }} {% trans "used is" %} {{chart.used }}%</div>
          </div>
        {% endfor %}
        </div>
     {% endfor %}
    </div>
  {% endspaceless %}
{% endblock %}
