{% extends 'base.html' %}
{% load i18n horizon %}
{% load i18n %}
{% load i18n breadcrumb_nav %}
{% load i18n sizeformat %}

{% block title %}{{ page_title }}{% endblock %}

{% block main %}
  <div>
    <h2> {% trans "Instances" %}</h2>
    {{ instances_table.render }}
  </div>

  <div>
    <h2>{% trans "Volumes" %}</h2>
    {{ volumes_table.render }}
  </div>

  <div>
    <h2>{% trans "Snapshots" %}</h2>
    {{ snapshots_table.render }}
  </div>

  <div>
    <h2>{% trans "Images" %}</h2>
    {{ images_table.render }}
  </div>
{% endblock %}
