{% extends 'base.html' %}
{% load i18n horizon %}
{% load i18n %}
{% load i18n breadcrumb_nav %}
{% load i18n sizeformat %}

{% block title %}{{ page_title }}{% endblock %}

{% block main %}
  {% if is_project_manager %}
    <p>{% trans "You're known as project manager." %}</p>
  {% endif %}

  <div>
    <h2> {% trans "Instances" %}</h2>
    <p>{% trans "The following table contains only your own instances" %} (<a href="{{ instances_url }}">{% trans "see all instances of the project" %}</a>).</p>
    {{ instances_table.render }}
  </div>

  <div>
    <p>{% trans "The following table contains only your own volumes" %} (<a href="{{ volumes_url }}">{% trans "see all volumes of the project" %}</a>).</p>
    <h2>{% trans "Volumes" %}</h2>
    {{ volumes_table.render }}
  </div>

  <div>
    <h2>{% trans "Snapshots" %}</h2>
    {{ snapshots_table.render }}
  </div>

{% endblock %}
